body {

    background-image: url(/monkeybusiness.com/imgs/babuin.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Audiowide", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}


.navbar-toggler-icon {
    color: white !important;
    background-color: white;
    border-radius: 10px;
}

.navbar-brand {
    color: white !important;
}

.nav-link.active {
    color: white !important;
}


.nav-link {
    color: white !important;
}

h1 {
    color: white;
}

h1:hover {
    color: #ffa500;
}

h2 {
    color: white;
}

h3 {
    margin-top: 20px;
    color: white;
}

.carousel {
    padding: 30px;
}

.slideshow {
    background-color: black;
    /* background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%); */

    border-radius: 50px;
}

.servicep {

    font-size: 25px;
    color: white;
}

.servicep:hover {
    color: yellow;
}



.servicec {
    font-size: 35px;
    color: white;
}

.d-flex img {
    margin-right: 40px;
}

footer {
    margin-top: 10px;
}

.card {
    margin-top: 10px;
    border-radius: 15px;
    background-image: linear-gradient(326deg, #f8002f 0%, #000c14 74%);
    color: #E9DD8A;
}

.btn-primary {
    background-color: #ba2d0b;
    background-image: linear-gradient(319deg, #ba2d0b 0%, #fe7f2d 37%, #ffbf46 100%);
    border-color: black;
}

.btn-primary:hover {
    background-color: #ffa500;
    border: black;
}

.card:hover {
    transform: scale(1.030);
    background-color: #000000;
    background-image: linear-gradient(326deg, #000000 0%, #ce203c 74%);

}



.jump {
    animation-name: jump;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-3px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}





.carousel-item img {
    width: 700px;
    height: 383px;
}

.carousel-item {
    transition: transform 0.6s ease;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    transform: translateX(0);
}

.carousel-item-next.carousel-item-right,
.carousel-item-prev.carousel-item-left {
    transform: translateX(0);
}

.services {
    margin-top: 20px;
}

.col-lg-8 col-12 {
    margin-top: 10px;
}